<p>Bonjour {{ applicant_name }},</p>

<p>Merci d’avoir postulé pour le poste de <strong>{{ job_title }}</strong>.</p>

<p>Après analyse automatisée de votre profil, nous pensons que votre expérience et/ou vos compétences ne correspondent pas entièrement à nos besoins actuels pour ce poste.</p>

<p><b>Score de matching :</b> {{ score }} / 100</p>
<p><b>Raison principale :</b> {{ justification }}</p>

<p>Cela ne remet pas en cause la qualité de votre parcours, et votre CV restera dans notre base pour d’autres opportunités !</p>

<p>Cordialement,<br>
L’équipe Recrutement</p>
